/* HEADER STYLE */
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0.63);
    backdrop-filter: blur(10px);
    padding: 26px 360px;
    position: sticky;
    top: 0;
    z-index: 10000;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.07);
}

.header_logo img {
    height: 46px;
    width: auto;
    cursor: pointer;
}

.header_search {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
}

#header-search-input {
    background-color: transparent;
    border: 2px solid var(--color-secondary);
    border-radius: 30px;
    font-size: var(--font-size-text);
    padding: 20px 25px;
    height: 46px;
    width: 450px;
    transition: all 0.3s ease-in-out;
}

#header-search-input:focus {
    border-color: var(--color-secondary);
    outline: none;
    box-shadow: 0 0 5px #1179bea9;
}

#header-search-button {
    background-color: var(--color-secondary);
    color: var(--color-primary);
    font-size: var(--font-size-text);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 46px;
    width: 46px;
    border: 2px solid transparent;
    border-radius: 30px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

#header-search-button:hover {
    background-color: var(--color-accent);
}

.header_icons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: var(--font-size-title);
    gap: 16px;
}

#header-icons {
    text-decoration: none;
    color: var(--color-secondary);
    transition: color 0.3s ease-in-out;
}

#header-icons:hover {
    color: var(--color-accent);
}

